@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    width: 100vw;
    background-color: aquamarine;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    box-sizing: border-box;
}
header{
    background-color: #ffa69e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    border-bottom: 2px solid black;
}

header .arc{
    display: flex;
    align-items: center;
    width: 25%;
    padding-left: 40px;
}

header .arc img{
    height: 80px;
    padding-right: 20px;
}

header h1{
    text-align: center;
    width: 50%;
    font-size: 40px;
    z-index: 1000;
}

/* Toggle */
.toggle{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    top: 20px;
    right: 40px;
    width: 25%;
    padding-right: 40px;
    justify-content: end;
}
.toggle img{
    height: 50px;
    width: 50px;
}

.content{
    padding-top: 120px;
    display: flex;
    height: 100vh;
    width: 100%;
}

.controls-wrapper{
    width: 33%;
    padding: 80px;
    border-right: 2px solid black;
    margin: 40px 0;
    padding-top: 40px;
}

.top-controls .checkmark{
    background-color: transparent;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 40px;
}

.top-controls .checkmark input[type="checkbox"]{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    appearance: none;
}
.top-controls .checkmark input[type="checkbox"]:checked{
    background-color: black;
    border-radius: 50px;
    appearance: none;
}

.top-controls .pwa{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 20px;
}

.scoreboard{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.scoreboard h2{
    padding-bottom: 10px;
    margin: 10px;
    width: 100%;
    border-bottom: 2px solid black;
}

.scoreboard .scores{
    width: 100%;
    padding: 0 20px;
}

.scoreboard .scores span{
    justify-content: space-between;
    display: flex;
    margin: 10px 0;
}

.btns{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.btns button{
    border: 2px solid black;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    background-color: transparent;
    transition: background-color 0.5s;
}

.btns #reset-score:hover{
    background-color: red;
}

.btns #change-symbol:hover{
    background-color: green;
}

.results{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Buttons */
#play-again{
    background-color: rgb(0, 255, 21);
    padding: 10px 25px;
    border: 2px solid black;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}

#play-again:hover{
    padding: 10px 25px;
    background-color: red;
}


/* Turn indicator */
.turn{
    width: 200px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}
.turn h3{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}
.turn .turnbox{
    border: 3px solid;
    font-size: 1.6rem;
    font-weight: 700;
}
.turn .turnbox:nth-child(even){
    border-right: none;
}
.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 40px;
    background-color: red;
    z-index: -1;
}

.grid-wrapper{
    width: 66%;
    margin: 40px 0;
}
/* Grid */
.main-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50%;
    height: 34vw;
    margin: auto;
    margin-top: 120px;
}
.box{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.box:nth-child(3n){
    border-right: none;
}
.box:nth-child(7), .box:nth-child(8), .box:nth-child(9){
    border-bottom: none;
}
.box:hover{
    background-color: rgb(113, 184, 160);
}

.dark-mode #moon-icon{
    filter: invert(1);
}

/* modal */
.modal{
    position: fixed;
    inset: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    background: rgba(0,0,0,0.5);
    z-index: 50;
}
.modal-content{
    background: aquamarine;
    width: 30%;
    height: 15%;
    text-align:center;
    padding: 20px;
    border: 2px solid black;
}

.modal-buttons{
    display:flex;
    gap:20px;
    justify-content:center;
    height: 100%;
    padding: 20px;
}

.big-btn{
    padding: 10px 18px;
    cursor:pointer;
    width: 100%;
    font-size: 80px;
    background-color: transparent;
}

.big-btn:hover{
    background-color: rgb(0, 177, 118);
}
/*Dark mode*/
.dark-mode{
    color: white;
    background-color: rgb(0, 0, 47);
}

header.dark-mode{
    background-color: black;
}

#ai-toggle.dark-mode:checked{
    background-color: white;
}

.box.dark-mode:hover{
    background-color: rgb(1, 1, 100);
}
/* small responsive tweak */
@media (max-width:600px){
    .main-grid{ width: 90vw; height: 90vw;}
    .top-controls{ width: 90vw; flex-direction:column; gap:10px; align-items:flex-start;}
}
